/* 全局样式表*/
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*最小宽度*/
    /*min-width: 1366px;*/
}
/*卡片主体*/
.el-card {
    margin: 20px;
    height: 82vh;
    overflow-y: scroll;
}
.el-input {
    /*width: 30%;*/
}

/*分页*/
.el-pagination {
    margin: 15px;
    float: right;
}
/*隐藏滑动条 针对chrome和safari*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.el-dialog {
    max-height: 80vh;
    overflow-y: scroll;
}

/*
刚开始使用了
el-cascader {}  =》发现这是级联选择器的类选择器
el-cascader-panel {}  =》发现这才是级联选择器的面板选择器
解决级联面板高度太大，显示出现问题，转化为滑动条查看*/
.el-cascader-panel {
    max-height: 200px;
    overflow-y: scroll;
}
.el-pagination {
    padding-bottom: 15px;
}

.el-steps {
    margin: 10px;
}
.el-step__title {
    font-size: 13px;
}
.ql-editor {
    min-height: 300px;
}

