/* 全局样式表*/
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*最小宽度*/
    /*min-width: 1366px;*/
}
/*卡片主体*/
.el-card {
    margin: 20px;
    height: 82vh;
    overflow-y: scroll;
}
.el-input {
    /*width: 30%;*/
}

/*分页*/
.el-pagination {
    margin: 15px;
    float: right;
}
/*隐藏滑动条 针对chrome和safari*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
